<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>{% block page_title %} common/base.html {% endblock %}</title>
	<link href = "{% static 'common/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	{% include 'material/includes/material_css.html' %}
	{% block extra-head %}{% endblock %}
</head>
<body>
	<header>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper red darken-2">
					<a href="{% url 'login' %}"><h4 class="brand-logo center">miniQuora</h4></a>
					{% block extra-navbar %}{% endblock %}
				</div>
			</nav>
		</div>
	</header>

	<main class="container">
		{% block content %}{% endblock %}
	</main>
	<script src="{% static 'common/js/jquery-2.2.1.min.js' %}"></script>
	{% include 'material/includes/material_js.html' %}
</body>
</html>
